ul{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
li{
    align-self: center;
    list-style: none;
    font-size: 24pt;
    font-family: serif;
}

#Profile {
    margin-top: 800px;
    width: 100%;
    height: 800px;
}
#info{
    width: 357;
    height: 141;
    display: flex;

}
#Profile-image{
    height: 294.99px;
    width: 221.243;
}
#header-image{
    align-self: center;
    height: 217.49;
    width: 404.028;
}
#header {
    width: 100%;
    height:964px;
    display: flex;
    justify-content: center;
    background-image: url("images/splashcover.jpg");
    background-size: cover;
}
#pictures{
    display: flex;
    justify-content: space-around;
    height: 290px;
    width:290;
}

#eye{
    width: 290px;
    height: 220;
    justify-content: space-around;
    justify-content: flex-start;
}
#jennifer{
    width: 290px;
    height: 220;
}
#firework{
    width: 290px;
    height: 220;
}
